@import "./theme.css";
@import "./sections/header.css";
@import "./sections/footer.css";
@import "./sections/about-me.css";
@import "./sections/skills.css";
@import "./sections/projects.css";
@import "./sections/animations.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch";
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

section {
  margin: 120px 0;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  text-transform: capitalize;
  color: var(--p-950);
}

.section__description {
  text-align: justify;
  max-width: 65ch;
  color: var(--n-500);
}
