.aboutMe__section {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1660px;
  position: relative;

  & img {
    position: absolute;
    width: 300px;
  }

  & img:nth-child(1) {
    top: -20%;
    left: 3%;
    animation: float 6s ease-in-out infinite;
  }

  & img:nth-child(2) {
    bottom: -20%;
    right: 3%;
    animation: float 7s 1s ease-in-out infinite;
  }
  
}

.aboutMe__container {
  width: 70%;
  background-color: hsla(var(--p-600-code), 0.1);
  padding: 3rem;
  border-radius: 3rem;
}

.aboutMe__content_container {
  background-color: white;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;

  & h1 {
    color: var(--p-600);
  }

  & p {
    color: var(--n-600);
    padding: 0 1rem;
  }
}

.CTA {
  max-width: 90%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & a {
    padding: 12px;
    width: 240px;
    max-width: 80%;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
  }
}

.primaryButton {
  color: white;
  background-color: var(--p-600);
  box-shadow: 0 3px 6px -1 hsla(var(--p-900-code), 0.2),
    0 1px 2px hsla(var(--p-900-code), 0.5);
  &:hover {
    background-color: var(--p-700);
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.2),
      0 2px 4px hsla(var(--p-900-code), 0.3),
      0 1px 2px hsla(var(--p-900-code), 0.5);
  }
}

.outlineButton {
  border: 1px solid var(--p-600);
  color: var(--p-600);
  background-color: transparent;

  &:hover {
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.1),
      0 2px 4px hsla(var(--p-900-code), 0.3);
  }
}
