.skills__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skills__grid_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 320px);
  gap: 12px;
}

.skills__grid_item_header {
  & div {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  & h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: 600;
    text-transform: capitalize;
  }

  & p {
    margin-top: 12px;
    color: var(--n-500);
    max-width: 60ch;
    text-align: justify;
  }
}

.skills__grid_item {
  overflow: hidden;
  border: 2px solid var(--p-100);
  border-radius: 24px;
  background-color: var(--p-20);
  padding: 2rem 2rem;
  box-shadow: 0 2px 4px hsla(233, 45%, 20%, 0.1);

  &:nth-child(1) {
    border: none;
    background: url("../../assets/dog_dev.jpg") center / cover no-repeat;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: url("../../assets/dog_funny.jpg") center / cover no-repeat;
    }
  }

  &:nth-child(2) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .icons-list-wrapper {
      overflow: hidden;
      margin-top: 8px;
      display: flex;
      gap: 12px;

      &:nth-child(1) > div.icons-list {
        animation: move-left 30s linear infinite;
      }

      &:nth-child(2) > div.icons-list {
        animation: move-right 60s linear infinite;
      }
    }

    & .icons-list {
      display: flex;
      min-width: 100%;
      gap: 12px;
      flex-shrink: 0;
    }

    & .icon-badges {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.14em;
      padding: 0.6em 0;
      border-radius: 12px;
      width: 12em;
      font-weight: 700;
      font-size: var(--caption-font-size);
      text-transform: uppercase;

      & img {
        height: 2em;
        border-radius: 15px;
      }
    }

    & .icon-badges {
      background: white;
      border: 1px solid var(--p-100);

      & span {
        background: var(--main-gradient-color);
        color: transparent;
        background-clip: text;
      }
    }
  }

  &:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .softSkills__container {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      gap: 10px;
      margin-top: 8px;
    }

    & .softSkills_badge {
      height: 36px;
      width: 244px;
      border: 1px solid var(--p-100);
      border-radius: 24px;
      background-color: white;
      padding: 25px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;

      & p {
        background: var(--main-gradient-color);
        color: transparent;
        background-clip: text;
      }
    }
  }

  &:nth-child(4) {
    grid-row: span 2;
    border: none;
    background: url("../../assets/cat_dev.jpg") center / cover no-repeat;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: url("../../assets/cat_funny.jpg") center / cover no-repeat;
    }
  }
}
